<div class="Card-heading flexToStart">
    <div class="regionName">
        <img class="btn btn-default" (click)="moveToRegionsRoot()" *ngIf="regionParameter != 'Regions'" src="/assets/Images/back_arrow.png" alt="Lights"><!--style="max-width: 65px;"-->
        {{ regionParameter }}
    </div>
</div>

<div class="Card-body">

    <div *ngIf="regionParameter === 'Regions'" class="flexWrap">
        <div *ngFor="let region of regions" class="btn btn-default cardContent" (click)="moveToRegionSites(region.name)">
            <div class="cardText">{{ region.name }}</div>
        </div>
    </div>

    <div *ngIf="regionParameter != 'Regions'">
        <div *ngFor="let region of regions">
            <div *ngIf="region.name === regionParameter" class="flexWrap">
                <div *ngFor="let site of region.sites" class="btn btn-default cardContent" (click)="moveToSiteInformation(site.name)">
                    <div class="cardText">{{ site.name }}</div>
                    <div class="cardText">-</div>
                    <div class="cardText">{{ site.country }}</div>
                </div>
            </div>
        </div>
    </div>

</div>