<div class="row siteName">
    {{ site.name }}
</div>

<div class="row optionNavBar">
    <div class="optionBackground" [style.background]="inSubmissions ? '#3D3D3D' : '#D9D9D9'">
        <div class="optionFont" [style.color]="inSubmissions ? 'white' : 'black'" (click)="moveToSubmissions()">
          <span>Submissions</span>
        </div>
    </div>
    
    <div class="optionBackground" [style.background]="inTeams ? '#3D3D3D' : '#D9D9D9'">
        <div class="optionFont" [style.color]="inTeams ? 'white' : 'black'" (click)="moveToTeams()">
          <span>Teams</span>
        </div>
    </div>
    
    <div class="optionBackground" [style.background]="inJammers ? '#3D3D3D' : '#D9D9D9'">
        <div class="optionFont" [style.color]="inJammers ? 'white' : 'black'" (click)="moveToJammers()">
          <span>Jammers</span>
        </div>
    </div>

    <div class="optionBackground" [style.background]="inStaff ? '#3D3D3D' : '#D9D9D9'">
        <div class="optionFont" [style.color]="inStaff ? 'white' : 'black'" (click)="moveToStaff()">
          <span>Staff</span>
        </div>
    </div>

    <div class="optionBackground" [style.background]="inManagement ? '#3D3D3D' : '#D9D9D9'">
        <div class="optionFont" [style.color]="inManagement ? 'white' : 'black'" (click)="moveToManagement()">
          <span>Manage Site</span>
        </div>
    </div>
</div>

<hr class="linea-negra">
        
<div class="row mainWindow">

    <div *ngIf="inSubmissions">      
        <div class="row title">
             Submissions of {{ site.name }}:
        </div>
    
        <div class="col cardContainer">
            <div *ngFor="let game of games" class="btn btn-primary card" data-toggle="modal" [attr.data-target]="'#gameInfoModal-' + game.id">
                <div class="cardText">
                    {{ game.name }}
                </div>
                <div class="cardText">
                    {{ game.team }}
                </div>
            </div>
        </div>
    
        <div *ngFor="let game of games">
            <div class="modal fade" [id]="'gameInfoModal-' + game.id" tabindex="-1" role="dialog" aria-labelledby="gameInfoModal" aria-hidden="true" data-backdrop="static" style="max-width: 100%;">
                <div class="modal-dialog" role="document" style="max-width: 85%;">
                    <app-game-information [game]="game.id"></app-game-information>
                </div>
            </div>
        </div>
    </div>
            
    <div *ngIf="inTeams">
    
    </div>
    
    <div *ngIf="inJammers">
    
    </div>
    
    <div *ngIf="inStaff">
    
    </div>
    
    <div *ngIf="inManagement">
        <div class="row title">
            Site status: <span [style.color]="currentStatus === 'Open' ? 'green' : 'red'">{{ currentStatus }}</span>
        </div>   
        <div class="row someButtons">
            <div class="col text-center">
                <app-upload-csv></app-upload-csv>
            </div>
        </div>
    </div>

</div>