    <div class="card-body cardBackground">
        <div class="table-responsive">
            <div class="filters">
                <select [(ngModel)]="selectedHeader">
                    <option value="studioName">Studio Name</option>
                    <option value="description">Description</option>
                    <option value="region.name">Region Name</option>
                    <option value="site.name">Site Name</option>
                    <option value="gameJam.edition">Game Jam Edition</option>
                </select>
            
                <input type="text" [(ngModel)]="filterValue" placeholder="Filter Value">
            
                <select multiple [(ngModel)]="selectedColumns">
                    <option value="studioName">Studio Name</option>
                    <option value="description">Description</option>
                    <option value="region.name">Region Name</option>
                    <option value="site.name">Site Name</option>
                    <option value="gameJam.edition">Game Jam Edition</option>
                </select>
            
                <button class="btn btn-primary" (click)="exportToPDF()">Export as PDF</button>
            </div>            
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Studio Name</th>
                        <th scope="col">Description</th>
                        <th scope="col">GameJam Edition</th>
                        <th scope="col">Region</th>
                        <th scope="col">Site</th>
                        <th scope="col">Links</th>
                        <th scope="col">Jammers</th>
                        <th scope="col">Update</th>
                        <th scope="col">Delete</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let row of obtenerDatosPagina()">
                        <td>{{ row.studioName }}</td>
                        <td>{{ row.description }}</td>
                        <td>{{ row.gameJam.edition }}</td>
                        <td>{{ row.region.name }}</td>
                        <td>{{ row.site.name }}</td>
                        <td>
                            <ul>
                                <li *ngFor="let link of row.linkTree">
                                    <a [href]="link">{{ link }}</a>
                                </li>
                            </ul>
                        </td>
                        <td>
                            <ul>
                                <li *ngFor="let jammer of row.jammers">
                                    <a jammer>{{ jammer.name + ' - ' + jammer.email }}</a>
                                </li>
                            </ul>
                        </td>
                        <td>
                            <!-- Aquí puedes agregar los botones de acciones -->
                            <button class="btn btn-primary" data-toggle="modal" data-target="#editModal" (click)="seleccionarElemento(row)">Update</button>
                        </td>
                        <td>
                            <button class="btn btn-danger" (click)="eliminar(row)">Delete</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="navBarStyle">
            <ul class="pagination">
                <!-- Botón para ir a la primera página -->
                <li class="page-item" [class.disabled]="currentPage === 1">
                    <a class="page-link" (click)="cambiarPagina(1)" aria-label="First">
                        <span aria-hidden="true">&laquo;&laquo;</span>
                    </a>
                </li>
                <!-- Botón para ir a la página anterior -->
                <li class="page-item" [class.disabled]="currentPage === 1">
                    <a class="page-link" (click)="cambiarPagina(currentPage - 1)" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                <!-- Limitar el número de páginas mostradas -->
                <ng-container *ngFor="let page of paginasMostradas">
                    <li class="page-item" *ngIf="page !== '...'">
                        <a class="page-link" (click)="cambiarPagina(page)" [class.active]="currentPage === page">{{ page }}</a>
                    </li>
                </ng-container>
                <!-- Botón para ir a la página siguiente -->
                <li class="page-item" [class.disabled]="currentPage === totalPaginas">
                    <a class="page-link" (click)="cambiarPagina(currentPage + 1)" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
                <!-- Botón para ir a la última página -->
                <li class="page-item" [class.disabled]="currentPage === totalPaginas">
                    <a class="page-link" (click)="cambiarPagina(totalPaginas)" aria-label="Last">
                        <span aria-hidden="true">&raquo;&raquo;</span>
                    </a>
                </li>
            </ul>
            <button class="btn btn-primary" data-toggle="modal" data-target="#createModal">Add</button>
        </div>
    </div>

    <!-- Edit Window -->
    <div #editModal class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <form (submit)="editar()" [formGroup]="myForm">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="createModalLabel">Add Team</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="formTitle">
                        Studio Name
                    </div>
                    <div class="row centerRow">
                        <div class="form-group formInput">
                            <input #createStudioInput class="form-control" id="createStudioInput" required
                                placeholder="Studio" formControlName="studioName">
                        </div>
                    </div>

                    <div class="formTitle">
                        Description
                    </div>
                    <div class="row centerRow">
                        <div class="form-group formInput">
                            <input #createdescriptionInput class="form-control" id="createdescriptionInput" required
                                placeholder="description" formControlName="description">
                        </div>
                    </div>

                    <div class="formTitle">
                       Gamejam</div>

                   <div class="row centerRow">
                       <select class="form-control formList" id="editGJInput" required formControlName="gameJam">
                       <option value="" disabled selected hidden>Team Gamejam</option>
                       <option *ngFor="let gameJam of gameJams" [ngValue]="gameJam">{{ gameJam.edition }}</option>
                       </select>
                   </div>

                    <div class="formTitle">
                       Region</div>
                   <div class="row centerRow">
                       <select class="form-control formList" id="regions" required formControlName="region" (change)="onRegionSelection()">
                         <option value="" disabled selected hidden>Region</option>
                         <option *ngFor="let region of regions" [ngValue]="region">{{ region.name }}</option>
                       </select>
                     </div>
                     <div class="formTitle">
                        Site</div>
                     <div class="row centerRow">
                       <select class="form-control formList" id="sites" required formControlName="site" (change)="onSiteSelection()">
                         <option value="" disabled selected hidden>Site</option>
                         <option *ngFor="let site of sites" [ngValue]="site">{{ site.name }}</option>
                       </select>
                     </div>
                     <div class="formTitle">
                        Jammers
                    </div>
                    <div class="row centerRow">
                        <select formControlName="selectedUser" class="form-control formList" id="users">
                            <option value="" disabled selected hidden>Users</option>
                            <option *ngFor="let user of users" [ngValue]="user">{{ user.name + ' - ' + user.email }}</option>
                        </select>
                    </div>
                    <button type="button" (click)="addJammer()" class="btn btn-primary formButton">Add Jammer</button>
                    <div *ngFor="let jammer of myForm.get('jammers')?.value" class="row formLinks">
                        <div class="col">
                        <label>Jammer:</label>
                        <p>{{ jammer.name }}</p>
                        </div>
                        <div class="col">
                        <label>Email:</label>
                        <p>{{ jammer.email }}</p>
                        </div>
                        <div class="col">
                        <button class="btn btn-danger" (click)="removeJammer(jammer)">Remove</button>
                        </div>
                    </div>
  
                    <div class="formTitle">
                        LinkTree
                    </div>
                    <div class="row centerRow">
                        <input formControlName="linkTree" type="text" class="form-control formList" id="linkTree" placeholder="Enter link">
                        <button type="button" (click)="addLinkTree()" class="btn btn-primary formButton">Add Link</button>
                    </div>                        
                    <div *ngFor="let linkTree of myForm.get('linkTrees')?.value" class="row formLinks">
                        <div class="col">
                          <label>Link:</label>
                          <p>{{ linkTree }}</p>
                        </div>
                        <div class="col">
                          <button class="btn btn-danger" (click)="removeLinkTree(linkTree)">Remove</button>
                        </div>
                      </div>                      
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Save changes</button>
                    </div>
                    <div *ngIf="successMessage" class="alert alert-success alert-dismissible fade show messageSpacer" role="alert">
                        {{ successMessage }}
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"
                            (click)="successMessage=''">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div *ngIf="errorMessage" class="alert alert-danger alert-dismissible fade show messageSpacer" role="alert">
                        {{ errorMessage }}
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close" (click)="errorMessage=''">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>  
                </div>
            </form>
        </div>
    </div>


    <!-- Create Window -->
    <div #createModal class="modal fade" id="createModal" tabindex="-1" role="dialog" aria-labelledby="createModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <form (submit)="agregar()" [formGroup]="myForm">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="createModalLabel">Add Team</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>

                    <div class="formTitle">
                        Studio Name
                    </div>
                    <div class="row centerRow">
                        <div class="form-group formInput">
                            <input #createStudioInput class="form-control" id="createStudioInput" required
                                placeholder="Studio" formControlName="studioName">
                        </div>
                    </div>

                    <div class="formTitle">
                        Description
                    </div>
                    <div class="row centerRow">
                        <div class="form-group formInput">
                            <input #createdescriptionInput class="form-control" id="createdescriptionInput" required
                                placeholder="description" formControlName="description">
                        </div>
                    </div>

                    <div class="formTitle">
                       Gamejam</div>

                   <div class="row centerRow">
                       <select class="form-control formList" id="editGJInput" required formControlName="gameJam">
                       <option value="" disabled selected hidden>Team Gamejam</option>
                       <option *ngFor="let gameJam of gameJams" [ngValue]="gameJam">{{ gameJam.edition }}</option>
                       </select>
                   </div>

                    <div class="formTitle">
                       Region</div>
                   <div class="row centerRow">
                       <select class="form-control formList" id="regions" required formControlName="region" (change)="onRegionSelection()">
                         <option value="" disabled selected hidden>Region</option>
                         <option *ngFor="let region of regions" [ngValue]="region">{{ region.name }}</option>
                       </select>
                     </div>
                     <div class="formTitle">
                        Site</div>
                     <div class="row centerRow">
                       <select class="form-control formList" id="sites" required formControlName="site" (change)="onSiteSelection()">
                         <option value="" disabled selected hidden>Site</option>
                         <option *ngFor="let site of sites" [ngValue]="site">{{ site.name }}</option>
                       </select>
                     </div>
                     <div class="formTitle">
                        Jammers
                    </div>
                    <div class="row centerRow">
                        <select formControlName="selectedUser" class="form-control formList" id="users">
                            <option value="" disabled selected hidden>Users</option>
                            <option *ngFor="let user of users" [ngValue]="user">{{ user.name + ' - ' + user.email }}</option>
                        </select>
                    </div>
                    <button type="button" (click)="addJammer()" class="btn btn-primary formButton">Add Jammer</button>
                    <div *ngFor="let jammer of myForm.get('jammers')?.value" class="row formLinks">
                        <div class="col">
                        <label>Jammer:</label>
                        <p>{{ jammer.name }}</p>
                        </div>
                        <div class="col">
                        <label>Email:</label>
                        <p>{{ jammer.email }}</p>
                        </div>
                        <div class="col">
                        <label>Discord Username:</label>
                        <p>{{ jammer.discordUsername }}</p>
                        </div>
                        <div class="col">
                        <button class="btn btn-danger" (click)="removeJammer(jammer)">Remove</button>
                        </div>
                    </div>
                    <div class="formTitle">
                        LinkTree
                    </div>
                    <div class="row centerRow">
                        <input formControlName="linkTree" type="text" class="form-control formList" id="linkTree" placeholder="Enter link">
                        <button type="button" (click)="addLinkTree()" class="btn btn-primary formButton">Add Link</button>
                    </div>                        
                    <div *ngFor="let linkTree of myForm.get('linkTrees')?.value" class="row formLinks">
                        <div class="col">
                          <label>Link:</label>
                          <p>{{ linkTree }}</p>
                        </div>
                        <div class="col">
                          <button class="btn btn-danger" (click)="removeLinkTree(linkTree)">Remove</button>
                        </div>
                      </div>                      
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Save changes</button>
                    </div>
                    <div *ngIf="successMessage" class="alert alert-success alert-dismissible fade show messageSpacer" role="alert">
                        {{ successMessage }}
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"
                            (click)="successMessage=''">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div *ngIf="errorMessage" class="alert alert-danger alert-dismissible fade show messageSpacer" role="alert">
                        {{ errorMessage }}
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close" (click)="errorMessage=''">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>  
                </div>
            </form>
        </div>
    </div>

