<div class="card-body" style="background: white;
border-radius: 35px; border: 1px black solid;
border-top: none; border-top-left-radius: 0; border-top-right-radius: 0;">
<div class="table-container">
    <div class="filters">
        <select [(ngModel)]="selectedHeader">
            <option value="titleSP">Title (SP)</option>
            <option value="titleEN">Title (EN)</option>
            <option value="titlePT">Title (PT)</option>
            <option value="descriptionSP">Description (SP)</option>
            <option value="descriptionEN">Description (EN)</option>
            <option value="descriptionPT">Description (PT)</option>
            <option value="manualSP">Manual (SP)</option>
            <option value="manualEN">Manual (EN)</option>
            <option value="manualPT">Manual (PT)</option>
        </select>

        <input type="text" [(ngModel)]="filterValue" placeholder="Filter Value">

        <select multiple [(ngModel)]="selectedColumns">
            <option value="_id">ID</option>
            <option value="titleSP">Title (SP)</option>
            <option value="titleEN">Title (EN)</option>
            <option value="titlePT">Title (PT)</option>
            <option value="descriptionSP">Description (SP)</option>
            <option value="descriptionEN">Description (EN)</option>
            <option value="descriptionPT">Description (PT)</option>
            <option value="manualSP">Manual (SP)</option>
            <option value="manualEN">Manual (EN)</option>
            <option value="manualPT">Manual (PT)</option>
        </select>

        <button class="btn btn-primary" (click)="exportToPDF()">Export as PDF</button>
    </div>

    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Title (SP)</th>
                    <th scope="col">Description (SP)</th>
                    <th scope="col">Manual (SP)</th>
                    <th scope="col">Title (EN)</th>
                    <th scope="col">Description (EN)</th>
                    <th scope="col">Manual (EN)</th>
                    <th scope="col">Title (PT)</th>
                    <th scope="col">Description (PT)</th>
                    <th scope="col">Manual (PT)</th>
                    <th scope="col">Update</th>
                    <th scope="col">Delete</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let row of obtenerDatosPagina()">
                    <td>{{ row._id }}</td>
                    <td>{{ row.titleSP }}</td>
                    <td>{{ row.descriptionSP }}</td>
                    <td>{{ row.manualSP }}</td>
                    <td>{{ row.titleEN }}</td>
                    <td>{{ row.descriptionEN }}</td>
                    <td>{{ row.manualEN }}</td>
                    <td>{{ row.titlePT }}</td>
                    <td>{{ row.descriptionPT }}</td>
                    <td>{{ row.manualPT }}</td>
                    <td>
                        <button class="btn btn-primary" data-toggle="modal" data-target="#editModal" (click)="seleccionarElemento(row)">Update</button>
                    </td>
                    <td>
                        <button class="btn btn-danger" (click)="eliminar(row)">Delete</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

    <div style="display: flex; justify-content: space-between; align-items: center;">
        <ul class="pagination">
            <!-- Botón para ir a la primera página -->
            <li class="page-item" [class.disabled]="currentPage === 1">
                <a class="page-link" (click)="cambiarPagina(1)" aria-label="First">
                    <span aria-hidden="true">&laquo;&laquo;</span>
                </a>
            </li>
            <!-- Botón para ir a la página anterior -->
            <li class="page-item" [class.disabled]="currentPage === 1">
                <a class="page-link" (click)="cambiarPagina(currentPage - 1)" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            <!-- Limitar el número de páginas mostradas -->
            <ng-container *ngFor="let page of paginasMostradas">
                <li class="page-item" *ngIf="page !== '...'">
                    <a class="page-link" (click)="cambiarPagina(page)" [class.active]="currentPage === page">{{ page }}</a>
                </li>
            </ng-container>
            <!-- Botón para ir a la página siguiente -->
            <li class="page-item" [class.disabled]="currentPage === totalPaginas">
                <a class="page-link" (click)="cambiarPagina(currentPage + 1)" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
            <!-- Botón para ir a la última página -->
            <li class="page-item" [class.disabled]="currentPage === totalPaginas">
                <a class="page-link" (click)="cambiarPagina(totalPaginas)" aria-label="Last">
                    <span aria-hidden="true">&raquo;&raquo;</span>
                </a>
            </li>
        </ul>
        <button class="btn btn-primary" data-toggle="modal" data-target="#createModal">Add</button>
    </div>
</div>

<!-- Edit Window -->
<div #editModal class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <form (submit)="editar()" [formGroup]="myForm">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="editModalLabel">Update Category</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12" *ngFor="let language of ['SP', 'EN', 'PT']">
                            <label for="title{{language}}">Title ({{language}})</label>
                            <input type="text" class="form-control" id="title{{language}}" placeholder="Enter title" formControlName="title{{language}}">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12" *ngFor="let language of ['SP', 'EN', 'PT']">
                            <label for="description{{language}}">Description ({{language}})</label>
                            <input type="text" class="form-control" id="description{{language}}" placeholder="Enter description" formControlName="description{{language}}">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12" *ngFor="let language of ['SP', 'EN', 'PT']">
                            <label for="manual{{language}}">Manual ({{language}})</label>
                            <input type="text" class="form-control" id="manual{{language}}" placeholder="Enter manual" formControlName="manual{{language}}">
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Save changes</button>
                </div>
                <!-- Aquí van los mensajes de éxito y error -->
                <div *ngIf="successMessage" class="alert alert-success alert-dismissible fade show" role="alert">
                    {{ successMessage }}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close" (click)="successMessage=''">
                      <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div *ngIf="errorMessage" class="alert alert-danger alert-dismissible fade show" role="alert">
                    {{ errorMessage }}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close" (click)="errorMessage=''">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>  
            </div>
        </form>
    </div>
</div>


<!-- Create Window -->
<div #createModal class="modal fade" id="createModal" tabindex="-1" role="dialog" aria-labelledby="createModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <form (submit)="agregar()" [formGroup]="myForm">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="createModalLabel">Add Category</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12" *ngFor="let language of ['SP', 'EN', 'PT']">
                            <label for="title{{language}}">Title ({{language}})</label>
                            <input type="text" class="form-control" id="title{{language}}" placeholder="Enter title" formControlName="title{{language}}">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12" *ngFor="let language of ['SP', 'EN', 'PT']">
                            <label for="description{{language}}">Description ({{language}})</label>
                            <input type="text" class="form-control" id="description{{language}}" placeholder="Enter description" formControlName="description{{language}}">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12" *ngFor="let language of ['SP', 'EN', 'PT']">
                            <label for="manual{{language}}">Manual ({{language}})</label>
                            <input type="text" class="form-control" id="manual{{language}}" placeholder="Enter manual" formControlName="manual{{language}}">
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Save changes</button>
                </div>
                <!-- Aquí van los mensajes de éxito y error -->
                <div *ngIf="successMessage" class="alert alert-success alert-dismissible fade show" role="alert">
                    {{ successMessage }}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close" (click)="successMessage=''">
                      <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div *ngIf="errorMessage" class="alert alert-danger alert-dismissible fade show" role="alert">
                    {{ errorMessage }}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close" (click)="errorMessage=''">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>  
            </div>
        </form>
    </div>
</div>  
