<div class="row" style="justify-content: flex-start; align-items: center;  background: white;">

    <!-- Tab -->
    <div class="col" [style.background]="inSites ? '#3D3D3D' : '#D9D9D9'" style="border-top-left-radius: 20px; border-top-right-radius: 20px; max-width: 117px; margin-left: 50px;  margin-top: 20px;">
        <button class="btn btn-default" (click)="moveToSites()">
            <div [style.color]="inSites ? 'white' : 'black'" style="font-size: 26px; font-family: Inter; font-weight: 400; word-wrap: break-word">
                Sites
            </div>
        </button>
    </div>

    <!-- Tab -->
    <div class="col" [style.background]="inData ? '#3D3D3D' : '#D9D9D9'" style="border-top-left-radius: 20px; border-top-right-radius: 20px; max-width: 279px; margin-left: 15px; margin-top: 20px;">
        <button class="btn btn-default" (click)="moveToCruds()">
            <div [style.color]="inData ? 'white' : 'black'" style="font-size: 26px; font-family: Inter; font-weight: 400; word-wrap: break-word">
                Data Management
            </div>
        </button>
    </div>
    
</div>
<div class="row h-100" style="justify-content: center; align-items: flex-start;  background: white;">
    <div class="col" style="justify-content: center; align-items: center;">
        <div class="Card" style="background: white; border-radius: 35px; border: 1px #3D3D3D solid; padding: 40px;">
            <app-global-sites *ngIf="inSites"></app-global-sites>
            <app-global-cruds *ngIf="inData"></app-global-cruds>
        </div>
    </div>
</div>