<div class="card-body cardBackground">
        <div class="filters">
            <select [(ngModel)]="selectedHeader">
                <option value="edition">Edition</option>
                <option value="theme.titleEN">Theme Name (EN)</option>
                <option value="theme.descriptionEN">Theme Description (EN)</option>
                <option value="theme.manualEN">Theme Manual (EN)</option>
            </select>
        
            <input type="text" [(ngModel)]="filterValue" placeholder="Filter Value">
        
            <select multiple [(ngModel)]="selectedColumns">
                <option value="edition">Edition</option>
                <option value="theme.titleEN">Theme Name (EN)</option>
                <option value="theme.descriptionEN">Theme Description (EN)</option>
                <option value="theme.manualEN">Theme Manual (EN)</option>
            </select>
        
            <button class="btn btn-primary" (click)="exportToPDF()">Export as PDF</button>
        </div>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Edition</th>
                    <th scope="col">Theme Name</th>
                    <th scope="col">Theme Description</th>
                    <th scope="col">Theme Manual</th>
                    <th scope="col">Update</th>
                    <th scope="col">Delete</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let row of obtenerDatosPagina()">
                    <td>{{ row.edition }}</td>
                    <td>{{ row.theme.titleEN }}</td>
                    <td>{{ row.theme.descriptionEN }}</td>
                    <td>{{ row.theme.manualEN }}</td>
                    <td>
                        <button class="btn btn-primary" data-toggle="modal" data-target="#editModal" (click)="seleccionarElemento(row)">Update</button>
                    </td>
                    <td>
                        <button class="btn btn-danger" (click)="eliminar(row)">Delete</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="navBarStyle">
        <ul class="pagination">
            <!-- Botón para ir a la primera página -->
            <li class="page-item" [class.disabled]="currentPage === 1">
                <a class="page-link" (click)="cambiarPagina(1)" aria-label="First">
                    <span aria-hidden="true">&laquo;&laquo;</span>
                </a>
            </li>
            <!-- Botón para ir a la página anterior -->
            <li class="page-item" [class.disabled]="currentPage === 1">
                <a class="page-link" (click)="cambiarPagina(currentPage - 1)" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            <!-- Limitar el número de páginas mostradas -->
            <ng-container *ngFor="let page of paginasMostradas">
                <li class="page-item" *ngIf="page !== '...'">
                    <a class="page-link" (click)="cambiarPagina(page)" [class.active]="currentPage === page">{{ page
                        }}</a>
                </li>
            </ng-container>
            <!-- Botón para ir a la página siguiente -->
            <li class="page-item" [class.disabled]="currentPage === totalPaginas">
                <a class="page-link" (click)="cambiarPagina(currentPage + 1)" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
            <!-- Botón para ir a la última página -->
            <li class="page-item" [class.disabled]="currentPage === totalPaginas">
                <a class="page-link" (click)="cambiarPagina(totalPaginas)" aria-label="Last">
                    <span aria-hidden="true">&raquo;&raquo;</span>
                </a>
            </li>
        </ul>
        <button class="btn btn-primary" data-toggle="modal" data-target="#createModal">Add</button>
    </div>

<!-- Fuera del modal principal -->
<div *ngIf="successMessage || errorMessage" class="toast-overlay">
    <div class="toast-container position-fixed top-50 start-50 translate-middle p-3">
      <!-- Mensaje de éxito -->
      <div *ngIf="successMessage" class="toast custom-alert alert alert-success alert-dismissible fade show" role="alert">
        <div class="toast-message">{{ successMessage }}</div>
        <button type="button" class="ok-button btn btn-primary btn-sm" data-dismiss="toast" aria-label="Close" (click)="successMessage=''">OK</button>
      </div>
      <!-- Mensaje de error -->
      <div *ngIf="errorMessage" class="toast custom-alert alert alert-danger alert-dismissible fade show" role="alert">
        <div class="toast-message">{{ errorMessage }}</div>
        <button type="button" class="ok-button btn btn-primary btn-sm" data-dismiss="toast" aria-label="Close" (click)="errorMessage=''">OK</button>
      </div>
    </div>
  </div>
  
<!-- Edit Window -->
<div #editModal class="modal fade" id="editModal" tabindex="-1" rol="dialog" aria-labelledby="editModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" rol="document">
        <form (submit)="editar()" [formGroup]="myForm">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="editModalLabel">Update GameJam</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row centerRow">

                        <div class="formTitle">Theme</div>
                        <div class="row centerRow">
                            <select class="form-control formList" id="themes" required formControlName="theme">
                              <option value="" disabled selected hidden>Theme</option>
                              <option *ngFor="let theme of themes" [ngValue]="theme">{{ theme.titleEN + ' - ' + theme.descriptionEN }}</option>
                            </select>
                          </div>
                        <div class="formTitle">Edition</div>

                        <div class="row centerRow">
                            <div class="form-group formInput">
                                <input #editEditionInput class="form-control" id="editEditionInput" required
                                    placeholder="Edition" formControlName="edition">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </form>
    </div>
</div>

<!-- Create Window -->
<div #createModal class="modal fade" id="createModal" tabindex="-1" rol="dialog" aria-labelledby="createModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" rol="document">
        <form (submit)="agregar()" [formGroup]="myForm">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="createModalLabel">Add GameJam</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row centerRow">
                        <div class="formTitle">Theme</div>
                        <div class="row centerRow">
                            <select class="form-control formList" id="themes" required formControlName="theme">
                              <option value="" disabled selected hidden>Theme</option>
                              <option *ngFor="let theme of themes" [ngValue]="theme">{{ theme.titleEN + ' - ' + theme.descriptionEN }}</option>
                            </select>
                          </div>
                        <div class="formTitle">Edition</div>

                        <div class="row centerRow">
                            <div class="form-group formInput">
                                <input #editEditionInput class="form-control" id="editEditionInput" required
                                    placeholder="Edition" formControlName="edition">
                            </div>
                        </div> 
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </form>
    </div>
</div>