<div class="modal-content" style="background: #515151; border-radius: 35px; border: 1px black solid">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true" style="color: white; font-size: 50px;">&times;</span>
        </button>
    </div>
    <div class="modal-body" style="display: flex; flex-direction: column;">
        <div class="row" style="display: flex; justify-content: center; align-items: center; flex-wrap: wrap; width: 100%;">
            <div style="color: white; font-size: 80px; font-family: Inter; font-weight: 400; word-wrap: break-word">
                {{ dataSource.name }} - {{ dataSource.team }}
            </div>
            <div style="color: white; font-size: 15px; font-family: Inter; font-weight: 400; word-wrap: break-word; margin-bottom: 20px;">
                {{ dataSource.description }}
            </div>
        </div>
        <div class="row" style="display: flex; justify-content: center; align-items: center; flex-wrap: wrap;">
            <a [href]="dataSource.gameLink" target="_blank" style="color: white; font-size: 20px; font-family: Inter; font-weight: 400; word-wrap: break-word">
                Game - {{ dataSource.gameLink }}
            </a>
            <a [href]="dataSource.pitchLink" target="_blank" style="color: white; font-size: 20px; font-family: Inter; font-weight: 400; word-wrap: break-word">
                Pitch - {{ dataSource.pitchLink }}
            </a>
        </div>
        <div class="row" style="display: flex; justify-content: center; align-items: flex-start; flex-wrap: wrap;">
            <div class="col">
                <div style="color: white; font-size: 50px; font-family: Inter; font-weight: 400; word-wrap: break-word; display: flex; justify-content: center;">
                    Team members
                </div>
                <div *ngFor="let member of dataSource.teamMembers" class="row">
                    <div class="col"
                        style="color: white; font-size: 20px; font-family: Inter; font-weight: 400; word-wrap: break-word; display: flex; justify-content: center;">
                        {{ member.name }}
                    </div>
                    <div class="col"
                        style="color: white; font-size: 20px; font-family: Inter; font-weight: 400; word-wrap: break-word; display: flex; justify-content: center;">
                        {{ member.email }}
                    </div>
                </div>
            </div>

            <div class="col" style="margin: 10px"> 
                <div style="color: white; font-size: 50px; font-family: Inter; font-weight: 400; word-wrap: break-word; display: flex; justify-content: center;">
                    Themes
                </div>
                <div *ngFor="let theme of dataSource.themes"
                    style="color: white; font-size: 20px; font-family: Inter; font-weight: 400; word-wrap: break-word; display: flex; justify-content: center;">
                    {{ theme }}
                </div>
            </div>

            <div class="col" style="margin: 10px">
                <div style="color: white; font-size: 50px; font-family: Inter; font-weight: 400; word-wrap: break-word; display: flex; justify-content: center;">
                    Categories
                </div>
                <div *ngFor="let category of dataSource.categories"
                    style="color: white; font-size: 20px; font-family: Inter; font-weight: 400; word-wrap: break-word; display: flex; justify-content: center;">
                    {{ category }}
                </div>
            </div>
        </div>
        <div class = "col btn btn-primary" style="display: flex; align-self: center; max-width: fit-content; justify-self: flex-end;">
            Evaluate
        </div>

    </div>
</div>