<div style="width: 100vw; height: 100vh; position: relative; overflow: hidden; margin: 0; padding: 0;
background: linear-gradient(108deg, #3763FF 0%, #D052A5 25%, #FF3131 50%, #D052A5 75%, #3763FF 100%)">

    <div style="top: 0;display: flex;align-items: center;justify-content: space-around; position: relative;">

        <div style="width: 65%; position: relative;">

            <div
                style="height: 65px; background: linear-gradient(108deg, #FEDE6E 0%, #FA7800 33%, #FF3131 50%, #D052A5 75%, #3763FF 100%)">
                <div
                    style="position: absolute; left: 2%; top: 10px; text-align: left; color: white; font-size: 30px; font-family: JejuHallasan; font-weight: 400; word-wrap: break-word">
                    GJ+ - Jammer {{username}}
                </div>
                <img style="width: 44px; height: 41px; top: 21px; position: absolute; right: 2%" src="" />
            </div>

        </div>

        <div style="width: 65%; height: 996px; top: 65px; position: absolute; background: white">
            <div
                style="height: 996px; display: flex;align-items: center;justify-content: space-around; position: relative;">

                <div style="width: 80%; height: 0px; top: 13.8%; position: absolute; border: 1px black solid">
                </div>

                <div style="width: 25%; height: 42px; top: 9.6%; position: absolute;
                background: #515151; border-top-left-radius: 20px; border-top-right-radius: 20px; text-align: center;">
                    <div *ngIf="!teamName" style="color: white;
                    font-size: 20px; font-family: Inter; font-weight: 400; word-wrap: break-word; cursor: pointer;"
                        (click)="redirectToCreateTeam()" (mouseenter)="isHovered = true"
                        (mouseleave)="isHovered = false">
                        <span [style.textDecoration]="isHovered ? 'underline' : 'none'">Create Team</span>
                    </div>
                    <div *ngIf="teamName" style="color: white;
                    font-size: 20px; font-family: Inter; font-weight: 400; word-wrap: break-word; cursor: pointer;"
                        (click)="redirectToTeamPage()" (mouseenter)="isHovered = true" (mouseleave)="isHovered = false">
                        <span [style.textDecoration]="isHovered ? 'underline' : 'none'">{{teamName}}</span>
                    </div>
                </div>

                <div *ngIf="teamName" style=" top: 200px; position: absolute; text-align: center; color: black;
                    font-size: 40px; font-family: Kanit; font-weight: 400; word-wrap: break-word">
                    Time Remaining To Submit:
                </div>
                <div *ngIf="teamName" style="top: 280px; position: absolute; text-align: center; color: #FF0000;
                    font-size: 38px; font-family: Kanit; font-weight: 400; word-wrap: break-word; text-align: center">
                    {{timeRemaining}}
                </div>

                <div [class.hidden]="teamName" style="width: 25%; height: 5%; top: 45%; position: absolute;
            background: #3EB9FF; border-radius: 20px; text-align: center;">
                    <div style="left: 30%; color: black; top: 18%; position: absolute;text-align: center;
            font-size: 25px; font-family: Inter; font-weight: 400; word-wrap: break-word; cursor: pointer;"
                        (click)="redirectToSubmitPage()" (mouseenter)="isHovered = true"
                        (mouseleave)="isHovered = false">
                        <span [style.textDecoration]="isHovered ? 'underline' : 'none'">Submit!</span>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
