<div class="d2">
  <!-- Contador -->
  <div *ngIf="teamName" class="teamName1">
    Time Remaining To Submit:
  </div>
  <div *ngIf="teamName" class="contador">
    {{timeRemaining}}
  </div>

  <!-- Navbar -->
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div *ngIf="teamName">
      <div *ngIf="showSubmitButton">
        <div class="btn btn-outline-secondary" (click)="toggleSubmit()" (mouseenter)="isHovered = true" (mouseleave)="isHovered = false">
          <span [style.textDecoration]="isHovered ? 'underline' : 'none'">Submit!</span>
        </div>
      </div>
    </div>
    <div>
      <div *ngIf="!teamName" [style.color]="isHovered ? 'darkgray' : 'white'" class="notTeamName" (click)="toggleCreateTeam()" (mouseenter)="isHovered = true" (mouseleave)="isHovered = false">
        <span>Create Team</span>
      </div>
      <div *ngIf="teamName" class="btn btn-outline-secondary" (click)="toggleUpdateTeam()" (mouseenter)="isHoveredSub = true" (mouseleave)="isHoveredSub = false">
        <span [style.textDecoration]="isHoveredSub ? 'darkgray' : 'none'">{{teamName}}</span>
      </div>
    </div>
    <div>
      <div *ngIf="teamName" class="btn btn-outline-secondary" (click)="toggleGames()" (mouseenter)="isHoveredSub = true" (mouseleave)="isHoveredSub = false">
        <span [style.textDecoration]="isHoveredSub ? 'darkgray' : 'none'">Toggle Games</span>
      </div>
    </div>
  </nav>

  <!-- Lista de juegos -->
  <div *ngIf="showGames">      
    <div class="row title">
         Submissions
    </div>

    <div class="col cardContainer">
        <div *ngFor="let game of games" class="btn btn-primary card" data-toggle="modal" [attr.data-target]="'#gameInfoModal-' + game.id">
            <div class="cardText">
                {{ game.name }}
            </div>
            <div class="cardText">
                {{ game.team }}
            </div>
        </div>
    </div>

    <div *ngFor="let game of games">
        <div class="modal fade" [id]="'gameInfoModal-' + game.id" tabindex="-1" role="dialog" aria-labelledby="gameInfoModal" aria-hidden="true" data-backdrop="static" style="max-width: 100%;">
            <div class="modal-dialog" role="document" style="max-width: 85%;">
                <app-game-information [game]="game.id"></app-game-information>
            </div>
        </div>
    </div>
</div>

  <!-- Componentes de actualización y creación del equipo -->
  <div class="d4">
    <div *ngIf="showUpdateTeam" class="actuEquipo">
      <app-jammer-team></app-jammer-team>
    </div>
    <div *ngIf="showCreateTeam" class="showCreateTeam">
      <app-jammer-create-team></app-jammer-create-team>
    </div>
  </div>  
</div>

<!-- Componente de submit -->
<div *ngIf="showSubmit" class="showSubmit">
  <app-jammer-submit></app-jammer-submit>
</div>
