<section class="vh-100 backgroundGradient">
    <div class="container-fluid h-100 mainWindow">
        <div class="row justify-content-between headerGradient">
            <div class = "col GJrol">GJ+ - {{userRole}}  {{username}}</div>
            <div class = "col btn btn-primary logOutButton" (click)="logOut()">Log out</div>
        </div>
        <div class="row mainContainer">

            <app-local-home *ngIf="userRole === 'LocalOrganizer'"></app-local-home>
            <app-global-home *ngIf="userRole === 'GlobalOrganizer'"></app-global-home>
            <app-jammer-home *ngIf="userRole === 'Jammer'"></app-jammer-home>
            <app-juez-main *ngIf="userRole === 'Judge'"></app-juez-main>

        </div>
    </div>
</section>