.backgroundGradient {
    position: relative;
    background: linear-gradient(108deg, #3763FF 0%, #D052A5 25%, #FF3131 50%, #D052A5 75%, #3763FF 100%);
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.mainWindow {
    display: flex;
    flex-direction: column;
    padding-left: 15%;
    padding-right: 15%;
}

.headerGradient {
    padding: 1%;
    background: linear-gradient(108deg, #FEDE6E 0%, #FA7800 33%, #FF3131 50%, #D052A5 75%, #3763FF 100%);
}

.GJrol {
    color: white;
    font-size: 24px;
    font-family: K2D;
    font-weight: 400;
    word-wrap: break-word
}

.logOutButton {
    align-self: center;
    max-width: fit-content;
}

.mainContainer {
    justify-content: flex-start;
    align-items: flex-start;
    flex-grow: 1;
    background: white;
}