<section class="vh-100" style="position: relative; background: linear-gradient(108deg, #FEDE6E 0%, #FA7800 33%, #FF3131 50%, #D052A5 75%, #3763FF 100%); display: flex; justify-content: center; align-items: center;">
    <div class="container">
        <div class="row" style="justify-content: center; align-items: center;">
          <div class="col" style="justify-content: center; align-items: center; max-width:500px;">
            <div class="Card" style="background: rgba(255, 255, 255, 0.86); border-radius: 45px">
                <div class="Card-body">
                    <form (submit)="submitForm()" [formGroup]="myForm">
                        <div class="row" style="display: flex; justify-content: center; align-items: center;">
                            <div style="margin-top: 20px; text-align: center; color: black; font-size: 35px; font-family: K2D; font-weight: 400; word-wrap: break-word">Register</div>
                            <div style="margin-left: 50px; text-align: left; color: black; font-size: 24px; font-family: K2D; font-weight: 400; word-wrap: break-word">Email</div>

                            <div class="row" style="display: flex; justify-content: center; align-items: center;">
                              <div class="form-group" style="margin-top: 20px; margin-bottom: 20px; max-width: 425px;">
                                <input #emailInput type="email" class="form-control" id="emailInput" required placeholder="Email" formControlName="email">
                              </div>
                            </div>
                            
                            <div style="margin-left:50px; text-align: left; color: black; font-size: 24px; font-family: K2D; font-weight: 400; word-wrap: break-word">Full Name</div>

                            <div class="row" style="display: flex; justify-content: center; align-items: center;">
                              <div class="form-group" style="margin-top: 20px; margin-bottom: 20px; max-width: 425px;">
                                <input #nameInput class="form-control" id="nameInput" required placeholder="Full Name" formControlName="name">
                              </div>
                            </div>

                            <div style="text-align: center; color: black; font-size: 35px; font-family: K2D; font-weight: 400; word-wrap: break-word">Choose your Site</div>
                            <div style="margin-left:50px; text-align: left; color: black; font-size: 24px; font-family: K2D; font-weight: 400; word-wrap: break-word">Region</div>

                            <div class="row" style="display: flex; justify-content: center; align-items: center;">
                              <select class="form-control" id="regiones" 
                              style="margin-top: 20px; margin-bottom: 20px; border-radius: 44px; max-width: 400px;" required formControlName="region">
                                <option value="" disabled selected hidden>Your region</option>
                                <option *ngFor="let region of regiones" [value]="region">{{ region }}</option>
                              </select>
                            </div>

                            <div style="margin-left:50px; text-align: left; color: black; font-size: 24px; font-family: K2D; font-weight: 400; word-wrap: break-word">Site</div>

                            <div class="row" style="display: flex; justify-content: center; align-items: center;">
                              <select class="form-control" id="sites"  
                              style="margin-top: 20px; margin-bottom: 10px; border-radius: 44px; max-width: 400px;" required formControlName="site">
                                <option value="" disabled selected hidden>Your site</option>
                                <option *ngFor="let site of sites" [value]="site">{{ site }}</option>
                              </select>
                            </div>

                            <div class="row" style="display: flex; justify-content: center; align-items: center;">
                              <div style="margin-top: 20px; margin-bottom: 35px; text-align: center; background: #3EB9FF; border-radius: 15px; max-width: 250px;">
                                <button type="submit" class="btn btn-default">
                                  <div style="text-align: center; color: white; font-size: 35px; font-family: Inter; font-weight: 400; word-wrap: break-word">
                                    Register
                                  </div>
                                </button>
                              </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
          </div>
        </div>
    </div>
</section>