
<form [formGroup]="myForm">
    <div class="miniWindow">
      <div style="display:flex; justify-content: center; flex-direction: column;">
        <div class="row">
            <label class="label"> Pitch Score </label>
            <div class="button-container">
                <div *ngFor="let rate of rating" class="button-wrapper" style="display: inline-block;">
                  <button 
                    class="theme-button"
                    [class.selected]="rate === pitchScore"
                    (click)="pitchRating(rate)"
                    [disabled]="!evaluando">
                    {{rate}}
                  </button>
                </div>
            </div>
            <label class="label"> Pitch Feedback </label>
            <input class="textSpace" type="text" [disabled]="!evaluando" placeholder="Give Feedback" formControlName="pitchFeedback">
        </div>
        <div class="row">
            <label class="label"> Game Design Score </label>
            <div class="button-container">
                <div *ngFor="let rate of rating" class="button-wrapper" style="display: inline-block;">
                  <button 
                    class="theme-button"
                    [class.selected]="rate === gameDesignScore"
                    (click)="gameDesignRating(rate)"
                    [disabled]="!evaluando">
                    {{rate}}
                  </button>
                </div>
            </div>
            <label class="label"> Game Design Feedback </label>
            <input class="textSpace" type="text" [disabled]="!evaluando" placeholder="Give Feedback" formControlName="gameDesignFeedback">
        </div>
        <div class="row">
            <label class="label"> Art Score </label>
            <div class="button-container">
                <div *ngFor="let rate of rating" class="button-wrapper" style="display: inline-block;">
                  <button 
                    class="theme-button"
                    [class.selected]="rate === artScore"
                    (click)="artRating(rate)"
                    [disabled]="!evaluando">
                    {{rate}}
                  </button>
                </div>
            </div>
            <label class="label"> Art Feedback </label>
            <input class="textSpace" type="text" [disabled]="!evaluando" placeholder="Give Feedback" formControlName="artFeedback">
        </div>
        <div class="row">
            <label class="label"> Build Score </label>
            <div class="button-container">
                <div *ngFor="let rate of rating" class="button-wrapper" style="display: inline-block;">
                  <button 
                    class="theme-button"
                    [class.selected]="rate === buildScore"
                    (click)="buildRating(rate)"
                    [disabled]="!evaluando">
                    {{rate}}
                  </button>
                </div>
            </div>
            <label class="label"> Build Feedback </label>
            <input class="textSpace" type="text" placeholder="Give Feedback" [disabled]="!evaluando" formControlName="buildFeedback">
        </div>
        <div class="row">
            <label class="label"> Audio Score </label>
            <div class="button-container">
                <div *ngFor="let rate of rating" class="button-wrapper" style="display: inline-block;">
                  <button 
                    class="theme-button"
                    [class.selected]="rate === audioScore"
                    (click)="audioRating(rate)"
                    [disabled]="!evaluando">
                    {{rate}}
                  </button>
                </div>
            </div>
            <label class="label"> Audio Feedback </label>
            <input class="textSpace" type="text" placeholder="Give Feedback" [disabled]="!evaluando" formControlName="audioFeedback">
        </div>
        <div class="row">
            <label class="label"> General Feedback </label>
            <input class="textSpace" type="text" placeholder="Give Feedback" [disabled]="!evaluando" formControlName="generalFeedback">
        </div>
        <div class = "col btn btn-primary" style="display: flex; align-self: center; max-width: fit-content; justify-self: flex-end;">
            Evaluate
        </div>
      </div>
    </div>
</form>
