.custom-alert {
    background-color: #ffffff; /* Cambia al color que desees */
    color: white;
    padding: 20px;
    border-radius: 5px;
  }
  
  .message {
    margin-bottom: 10px;
  }
  
  .ok-button {
    background-color: blue; /* Cambia al color que desees */
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .ok-button:hover {
    background-color: darkblue; /* Cambia al color que desees */
  }
  