<div class="app-upload-csv">
  <button class="custom-file-button" (click)="changeStatus()">Change Site Status</button>
  <button class="custom-file-button" (click)="fileInput.click()">Upload CSV File</button>
  <input #fileInput id="file-upload" type="file" (change)="onFileSelected($event)" accept=".csv" hidden />

  <ng-container *ngIf="file && file.name">
    <button class="custom-file-button" (click)="uploadFile()">Save Users</button>
    <p>Selected file: {{ file.name }}</p>
  </ng-container>

  <ul class="custom-list">
    <li *ngFor="let result of registrationResults" class="success">{{ result }}</li>
  </ul>

  <ul class="custom-list">
    <li *ngFor="let error of errorLog" class="error">{{ error }}</li>
  </ul>
</div>
